<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fortune-telling</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/kokkyo.css') }}">
</head>
<body>
<header>
    <h1>
        <a href="/">HOME</a>
    </h1>
    <nav class="nav">
        <ul class="menu-group">
          <li class="menu-item"><a href="telling">今日の運勢</a></li>
        </ul>
    </nav>
</header>
<main>
    <div>
    <div class='string'><p>世界の子供たちの健康を守りませんか？</p></div>
    </div>
    <div class='isi'>
        <h1>国境なき医師団</h1>
    </div>
        <div><button type = "button" href= "https://www.msf.or.jp/landing/emergency/?page=88&argument=fkJbx1gw&dmai=a615b8c9e7ee0f&code=WEB2302A&utm_source=google&utm_medium=cpc&utm_campaign=fdr_cpc_brand&utm_content=fdr_rsa0001_lp0088&gclid=Cj0KCQjwt_qgBhDFARIsABcDjOe9BkyjYnprwk-PStIspCDx0kqE7TiP0RLJVr3lFzgiPtInVNGvDncaAnZSEALw_wcB">もっと詳しく見る</button></div>
</main>
</body>
</html>